/* $Id$ */
/* CSS Document */

.ui-dialog {
	border-width: 1px;
	border-color: #d7d7d7;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
	padding:0;
	margin: 0;
	border-radius:0;
}
.ui-dialog .ui-tabs .ui-tabs-nav .ui-icon-close{
	display:none;
}
.ui-dialog .ui-dialog-buttonpane {
	padding: 0;
	margin: 0 25px 25px 25px;
	border: none;
	float: none;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin:0 0 0 10px;
}
.ui-dialog .ui-dialog-buttonpane button:first-child{ 
       margin-left:0;
}
.ui-dialog .ui-dialog-content {
	margin: 25px 25px 25px 25px;
	border: none;
	padding:0;
	color:#111;
}
.ui-dialog .ui-dialog-titlebar {
	padding:25px 25px 0 25px;
	margin:0;
	background: none;
	border: none;
	font-size: 16px;
	color: #111;
	font-weight: normal;
	border-radius:0;
}
.ui-dialog .ui-dialog-titlebar-close{
	right:20px;
	height:18px;
	width:18px;
	margin-top:-12px;
	-moz-border-radius-bottomright:0;
	-webkit-border-bottom-right-radius:0;
	-khtml-border-bottom-right-radius:0;
	border-bottom-right-radius:0;
	border-radius:0;
	top:85%;
	border:none;
}
.ui-dialog .ui-dialog-titlebar-close span{
	margin:1px 0 0 1px;
}
.ui-dialog .ui-dialog-titlebar-close span.ui-icon-minus{
	margin-left:2px;
	margin-top:1px;
}
.ui-dialog .ui-dialog-titlebar-close.ui-state-hover{
	background:transparent;
	background-color:#f0f0f0;
}
.ui-dialog .ui-ztab {
	width: auto;
}
.ui-tertiary.ui-dialog .ui-dialog-titlebar {
	margin: 0px !important;
	padding: 0.5em 1em;
	border: 0px solid;
	background: none;
	border-bottom-width: 1px;
	border-style: solid;
	border-radius:0;
}

.ui-dialog-minimized {
	border:1px solid #ccc !important;
	padding:0 20px 20px 20px !important;
	position:static !important;
	width:250px !important;
	height:32px !important;
	margin-bottom:2px;
}
.ui-dialog-minimized .ui-dialog-titlebar{
	padding-top:20px;
}
.ui-zdialog-minimize-pane {
	bottom: 0px;
	right: 0px;
	position: absolute;
	z-index: 10000;
}
.ui-dialog-leftbtn {
	float: left;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	width: 100%;
	text-align: right;
	position: relative;
}
.ui-dialog .ui-status-wrapper, .ui-dialog .ui-znotifier {
	display: block;
	margin-bottom: 10px;
}
.ui-dialog-notifier .ui-widget-content {
	margin-top: 10px;
}
.ui-state-disabled.ui-state-progress.ui-status-icon span.ui-button-text {
	padding: 3px 30px 2px 9px !important;
}
.ui-dialog .ui-state-error,
.ui-dialog .ui-widget-content .ui-state-error {
	background: #fff;
	border: none;
	color: #666;
}
.ui-dialog .ui-state-focus,
.ui-dialog .ui-widget-content .ui-state-focus,
.ui-dialog .ui-widget-header .ui-state-focus {
	background-image: none;
	box-shadow: 0 0 0 #fff;
}
.ui-dialog .ui-dialog-titlebar-close.ui-state-focus{
	border-color:transparent;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:focus{
	padding:1px;
}

.ui-dialog .ui-dialog-title {
	margin-top: 0;
	line-height:17px;
	margin-bottom:0;
}

/*New: Alert dialog class*/
.ui-zdialog{
	padding-top:25px;
}
.ui-zdialog-header {
	margin-bottom: 10px;
	position: relative;
	padding:0 25px;
}
.ui-zdialog-title {
	font-size: 16px;
	color: #111;
	line-height: 23px;
	display: block;
}
.ui-zdialog-img .ui-zdialog-title,
.ui-zdialog-img .ui-zdialog-msg {
	display: block;
	margin-left:39px;
	line-height:normal;
	margin-top:1px;
}
.ui-zdialog-content {
	padding: 0 25px 24px 25px;
	color: #000;
	font-size: 13px;
	line-height:normal;
	clear: both;
}
.ui-zalert-icon {
	position: absolute;
}
.ui-dialog-tab-horizontal.ui-dialog .ui-dialog-titlebar {
	margin-bottom: 15px;
}
.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-minimize{
	right: 50px;
}
.ui-dialog .ui-zcombo-dropdown .ui-zmenu-text,
.ui-dialog .ui-zcombo .ui-zmenu-text{
	font-size:12px;
}

.ui-dialog .ui-button.ui-state-default{
	padding:5px 14px 4px 14px;
}


/*alert popup*/
.ui-alert-dialog .ui-zdialog-msg{
    display: block;
    margin-left: 39px;
    line-height: normal;
    margin-top: 1px;
}
.ui-alert-dialog{
    width: 399px !important;
    border-color:#d5d5d5;
}
.ui-dialog.ui-alert-dialog .ui-dialog-content{
    margin:0px;
    padding: 30px !important;
}
.ui-dialog.ui-alert-dialog .ui-dialog-buttonpane{
    margin:0 30px 0 0px;
}
.ui-dialog.ui-alert-dialog .ui-dialog-buttonpane button{
    margin-bottom:30px;
}

/*selection changes*/
.ui-primary-msg{
	font-size: 14px;
	font-weight: 700;
}